@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.nav-item {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link, .navbar-brand {
  color: white;
}

.container-fluid {
  background-color: #6e6c6c;
  margin-top: -10px;
  margin-bottom: -10px;
}

header {
  background-color: darkblue;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: 2px 5px 7px rgb(0, 0, 0);
  margin: 5px;
  font-size: 20px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  text-align: center;
  background-color: gold;
  font-size: 40px;
  font-weight: bold;
}

.video {
  margin: auto;
  margin-top: 100px;
}

body {
  background: linear-gradient(to right, #010a86, #eef10d, #010a86);
}
body main {
  background-color: rgb(255, 253, 157);
}

main iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  text-align: center;
  font-size: 35px;
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(230, 207, 77);
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  text-align: center;
  font-size: 30px;
  background-color: rgb(230, 207, 77);
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
}

.imagenFutbol {
  width: 100%;
  height: auto;
}

.imagenBasquet {
  width: 100%;
  height: auto;
}

.nuevoCuadro {
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(230, 207, 77);
  font-weight: bold;
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
}

.nuevoCuadrodos {
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(230, 207, 77);
  font-weight: bold;
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
}
.nuevoCuadrodos:hover {
  height: 435px;
  background-image: url(https://bocajuniorspasionbis.files.wordpress.com/2009/12/rojo.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.nuevoCuadrodosbasquet {
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(230, 207, 77);
  font-weight: bold;
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
}
.nuevoCuadrodosbasquet:hover {
  height: 435px;
  background-image: url(https://bocajuniorspasionbis.files.wordpress.com/2009/11/casla.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.slider {
  width: 75%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 15s infinite alternate;
}
.slider li {
  width: 25%;
  list-style: none;
}
.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.textoPileta {
  text-align: center;
  text-transform: uppercase;
  font-weight: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
  background-color: darkblue;
  border: solid gold;
}

.horarioPileta {
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(230, 207, 77);
  font-weight: bold;
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
}

.imagenNoticia {
  width: 550px;
  height: 350px;
}

.boton {
  text-decoration: none;
  font-weight: 1px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ffffff;
  background-color: #090dd3;
  border: 1px black solid;
  border-radius: 4px;
}

.pruebaAlinear {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(3, 0, 0);
}

* {
  margin-bottom: 0px;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  background-color: darkblue;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: gold;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 20px;
}
.contenedor h2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid white;
}

.control {
  width: 100%;
  background-color: #fffeb8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.botonForm {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #005aa7, #fffde4);
  font-size: 20px;
}
.botonForm:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.botonForm:active {
  transform: translateY(3px);
}

.control:focus {
  height: 60px;
}

footer {
  background-color: #6e6c6c;
  text-align: center;
  color: gold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: darkblue;
  margin-top: 10px;
  background-color: Gold;
}

.parrafoNoticia {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: darkblue;
  margin-top: 10px;
  background-color: Gold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

/*# sourceMappingURL=estilo.css.map */
